name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  component-color:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v5

    - name: run m4
      run: m4 -P src/main/java/net/farlandsmc/componentutils/ComponentColor.java.m4 > src/main/java/net/farlandsmc/componentutils/ComponentColor.java

    - name: check diff
      run: git diff --quiet -- src/main/java/net/farlandsmc/componentutils/ComponentColor.java
